<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>
  <%= button_to 'Remove', delete_image_attachment_product_url(@product.id),
                method: "delete"%>
  <%= button_to 'Remove all the attachments', delete_all_attachment_product_url(@product.id),
                method: "delete"%>
  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
